scikit-learn>=1.2
scikit-image
scipy<=1.10.0
joblib
peppercorn
plotter
PyWavelets
numpy==1.*

# xmipp3-installer>=2.0.3,<3.0.0
# xmipp3-installer @ git+https://github.com/I2PC/xmipp3-installer.git@v2.0.3
git+https://github.com/I2PC/xmipp3-installer.git@v2.0.3#egg=xmipp3-installer
