name: Build plugin

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:    
    - name: Checkout repository
      uses: actions/checkout@main
      with:
        ref: ${{ github.head_ref }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libfftw3-dev libopenmpi-dev libhdf5-dev libtiff5-dev libsqlite3-dev default-jdk git cmake openmpi-bin gcc g++

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@main
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        auto-activate-base: true
        activate-environment: scipion3
        python-version: "3.8"

    - name: Install Scipion
      working-directory: ${{ github.workspace }}/../
      run: |
        pip install --user scipion-installer
        python -m scipioninstaller -conda -noAsk scipion

    - name: Install xmipp3-installer
      working-directory: ${{ github.workspace }}
      run: |
        ../scipion/scipion3 run  pip install -r requirements-bootstrap.txt
        
    - name: Cloning xmipp and getting sources
      working-directory: ${{ github.workspace }}/../
      run: |
        git clone https://github.com/I2PC/xmipp3.git
        scipion/scipion3 run ./xmipp3/xmipp getSources --keep-output
        cd xmipp3/src/
        ln -s "${{ github.workspace }}" "${{ github.workspace }}/../xmipp3/src/scipion-em-xmipp"

    - name: Installing scipion-em-xmipp
      working-directory: ${{ github.workspace}}/../xmipp3/src
      run: ../../scipion/scipion3 installp -p scipion-em-xmipp/ --devel
