name: Build plugin

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:    
    - name: Checkout repository
      uses: actions/checkout@main
      with:
        ref: ${{ github.head_ref }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libfftw3-dev libopenmpi-dev libhdf5-dev libtiff5-dev libsqlite3-dev default-jdk git cmake openmpi-bin gcc g++

    # - name: Install CUDA
    #   uses: Jimver/cuda-toolkit@master
    #   id: cuda-toolkit
    #   with:
    #     cuda: '11.8.0'
    #     method: network
    #     sub-packages: '["nvcc", "toolkit"]'

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@main
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        auto-activate-base: true
        activate-environment: scipion3
        python-version: "3.8"

    - name: Install Scipion
      working-directory: ${{ github.workspace }}/../
      run: |
        pip install --user scipion-installer
        python -m scipioninstaller -conda -noAsk scipion

    - name: Install xmipp3-installer
      working-directory: ${{ github.workspace }}
      run: |
        pip install --user xmipp3-installer

    - name: Cloning xmipp and getting sources
      working-directory: ${{ github.workspace }}/../
      run: |
        git clone -b ms_python_installer https://github.com/I2PC/xmipp3.git
        ./xmipp/xmipp getSources
        cd xmipp/src/
        ln -s "${{ github.workspace }}" "${{ github.workspace }}/../xmipp/src/scipion-em-xmipp"
      # relpace the -b ms_python_installer when the branch 'd be merged

    - name: Installing scipion-em-xmipp
      working-directory: ${{ github.workspace}}/../xmipp/src
      env:
          SEND_INSTALLATION_STATISTICS: 'OFF'
      run: ../../scipion/scipion3 installp -p scipion-em-xmipp/ --devel
