name: Build plugin

on:
  pull_request:
    branches: [devel, master]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:    
    - name: Checkout repository
      uses: actions/checkout@main
      with:
        ref: ${{ github.head_ref }}

    - name: Install dependencies 
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin python3-numpy git 

    - name: Install CUDA
      uses: Jimver/cuda-toolkit@master
      id: cuda-toolkit
      with:
        cuda: '11.8.0'
        method: network
        sub-packages: '["nvcc", "toolkit"]'

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@main
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        auto-activate-base: true
        activate-environment: scipion3
        python-version: "3.8"
        
    - name: Install Scipion
      working-directory: ${{ github.workspace }}
      run: |
        pwd
        pip install --user scipion-installer
        python -m scipioninstaller -conda -noAsk scipion

    - name: Install Plugin
      working-directory: ${{ github.workspace }}/../
      run: scipion/scipion3 pip install ./scipion-em-xmipp
        
    - name: Cloning scipion-em-xmipp
      working-directory: ${{ github.workspace }}/scipion/
      run: |
           pwd
           rm -rf scipion-em-xmipp
           git clone https://github.com/I2PC/scipion-em-xmipp.git

    - name: Conditionally checkout to ${{ github.head_ref }}
      working-directory: ${{ github.workspace }}/scipion/scipion-em-xmipp
      env:
        BRANCH_NAME: ${{ github.head_ref }}
      run: |
          pwd
          git checkout $BRANCH_NAME
        fi

      # Do not send installation statistics
      # Build with tests
    - name: Set config variables
      working-directory: ${{ github.workspace }}/../xmipp
      run: echo "SEND_INSTALLATION_STATISTICS=OFF\nBUILD_TESTING=ON" > xmipp.conf
      
    - name: Compile Xmipp and show log
      working-directory: ${{ github.workspace }}/../xmipp

      env:
        BRANCH_NAME: ${{ github.head_ref }}
      run: ../scipion/scipion3 run ./xmipp -b $BRANCH_NAME --keep-output || (cat compilation.log && false)

